body {
  background: linear-gradient(#0c2f18, #021a02);
  color: rgb(12, 216, 29);
  font-family: monospace;
}

.box {
  border: rgb(32, 230, 32) 2px solid;
  border-radius: 30px;
  background:   linear-gradient(218deg, rgb(173, 241, 63), darkgreen),
                linear-gradient(273deg, darkgreen, chartreuse),
                linear-gradient(266deg, darkgreen, green);
  color: chartreuse;
  text-shadow: 1px 0px 0px black;
}
